.brand {
  font-family: "Montserrat", sans-serif;
}



/* Create two equal columns that floats next to each other */
.column1 {
  float: left;
  width: 55%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 45%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column1 {
    width: 100%;
  }
}
.aa { color: inherit; } 
@media screen and (max-width: 3000px) and (min-width: 600px) {
  .respo {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .column2 {
    width: 100%;
  }
}


.mod {
  font-family: "Roboto Condensed", sans-serif;
}
@media only screen and (min-width: 1000px) {
  #background_contact {
    background-image: url("../img/bsnl.jpg");
    width: 100vw;
    height: 300px;
    /* background-position: 0 0; */
    background-size: 100%;
    display: block;
    /* margin-top: 10px; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (min-width: 1000px) {
.butt{
  margin-left: 190px;
}
  }
}


@media only screen and (max-width: 1000px) and (min-width: 750px) {
  #background_contact {
    background-image: url("../img/bsnl5.jpg");
    width: 100vw;
    height: 300px;
    background-size: 100%;
    display: block;
  

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

      /* margin-top: 10px; */
          /* background-position: 0 0; */

  }
}

@media only screen and (max-width: 750px) and (min-width: 400px) {
  #background_contact {
    background-image: url("../img/bsnl4.jpg");
    width: 100vw;
    height: 300px;
    /* background-position: 0 0; */
    background-size: 100%;
    display: block;
    /* margin-top: 10px; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media only screen and (max-width: 400px) {
  #background_contact {
    background-image: url("../img/bsnl3.jpg");
    width: 100vw;
    height: 300px;
    /* background-position: 0 0; */
    background-size: 100%;
    display: block;
    /* margin-top: 10px; */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.flip-container {
  background: transparent;
  display: inline-block;
}

.flip-this {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-container:hover .flip-this {
  transition: 0.9s;
  transform: rotateY(180deg);
}


@media (max-width: 700px) {
  .logo {
    margin-right: -60px;
  }
}
.logo {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}
img:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}



/* The fast way */
.make-it-fast {
  box-shadow: 0 1px 2px rgba(223, 211, 211, 0.15);
}

/* Pre-render the bigger shadow, but hide it */
.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(223, 211, 211, 0.15);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.make-it-fast:hover::after {
  opacity: 1;
}

.pricing {
  background: rgb(213, 215, 223);
  padding: 30px;
  border: 1px solid rgb(0, 43, 128);
  font-family: "Cabin", sans-serif;
}

.pricing2 {
  background: rgb(32, 50, 119);
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  color: aliceblue;
  border: 1px solid rgb(0, 43, 128);
}

.ribbon {
  position: absolute;
  background: rgb(255, 211, 68);
  color: black;
  transform: rotate(-45deg);
  text-align: center;
  font-weight: bold;
  top: 40px;
  left: -33px; /* !!! */
  width: 180px; /* !!! */
}
.pricing2 h6 {
  font-weight: bold;
}
.pricing .price > span {
  color: rgb(175, 175, 175);
}
.pricing .price > span > span {
  font-size: 1rem;
  color: rgb(175, 175, 175);
}
.pricing ul li {
  margin-bottom: 20px;
}

.selectpicker option {
  border: none;
  background-color: rgba(104, 6, 6, 0.432);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #14b1b2;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding-left: 0;
  margin-top: -20px;
  background: none;
}
.selectpicker {
  border: none;
  background-color: rgb(145, 0, 0);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #14b1b2;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  padding-left: 0;
  margin-top: -20px;
  background: none;
}

.head {
  color: blue;
}
